
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.titulo{
    color: #ffffff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #9600e6;
}

.meu-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #a600ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #9600e6;
    transform: scale(1.05);
}

/* CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #b4b4b4;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* TOPO DO SITE */
section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
}

.topo-site .txt-topo-site p{
    color: #ffffff;
    margin: 40px 0;
}

.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* QUALIDADES */
section.qualidades{
    padding: 40px 4%;
}

section.qualidades .flex{
    gap: 60px;
}

.qualidades .qualidades-box{
    color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.qualidades .qualidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff77;
}

.qualidades .qualidades-box i{
    font-size: 70px;
    color: #9600e6;
}

.qualidades .qualidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* SOBRE */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #9600e6;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social ul{
    display: flex;
    color: #9600e6;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #9600e6;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* PROJETOS */
section.projetos{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projetos .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a600ffac;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* RODAPÉ */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #9600e6;
}

footer .line-footer p i{
    color: #9600e6;
    font-size: 22px;
}

footer .line-footer p a{
    color: #ffffff;
}

